.item-container {
    /* border: 1px solid #21768b; */
    border: none;
    padding: 10px;
    /* border-radius: 10px; */
    width: 350px;
    margin: 10px 0 10px 0;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 2px 6px 0 #cfd3d7, 0 4px 10px 0 #cfd3d7;
}

.item {
    margin-bottom: 10px;
}

.item img {
    width: 330px;
    height: 330px;
    /* border-radius: 10px; */
}

.item h3,
h5,
p {
    margin-bottom: 0;
    margin-top: 3px;
}

.item button {
    background-image: linear-gradient(to right, #292f35 0%, #2b476f 51%, #15212c 100%)
}

.item button {
    padding: 10px 20px;
    font-size: 18px;
    transition: 0.5s;
    background-size: 200% auto;
    color: #ffffff;
    box-shadow: 0 0 20px #eee;
    border: none;
    border-radius: 15px;
}

.item button:hover {
    background-position: right center;
    color: rgb(185, 206, 203);
    text-decoration: none;
    cursor: pointer;
}